.Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & .Content {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}
